@page
@model Channels.IndexModel

@{
    ViewData["Title"] = "Subscriptions";
}

<h2>Subscriptions</h2>

@if (!Model.Subscription.Any())
{
    <p>
        You don't have any subscriptions. Force update your subscription feed:
        <a href="javascript:void(0);"
           onclick="updateTask('@Url.Action(nameof(TasksController.UpdateTaskNow), "Tasks", new { task = UserSubscriptionsTask.UserSubscriptionsTaskName })');">
            click here
        </a>
    </p>

    <script>
        function updateTask(apiUrl) {
            $.post({
                url: apiUrl,
            })
                .done(function (result) {
                    new Noty({
                        theme: 'mint',
                        type: 'success',
                        text: result
                    }).show();
                })
                .error(function (result) {
                    new Noty({
                        theme: 'mint',
                        type: 'error',
                        text: result
                    }).show();
                });
        }
    </script>
}

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].Description)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subscription[0].LastCheckedAt)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.Subscription)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Description)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.LastCheckedAt)
                </td>
                <td>
                    <a asp-page="/Videos/Index" asp-route-channelId="@item.Id">Videos</a>
                </td>
            </tr>
        }
    </tbody>
</table>
